@model dot_net_mid_project.Models.Employee

@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<style>
    #frm {
        width: 800px;
        margin: 20px 280px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 50px blue;
        background-color: transparent;
        color: #34495e;
    }
</style>


<h2 class="text text-info" align="center">My service profile</h2>
<form id="frm" method="post" action="/EmployeeHome/ChangeWorkStatus">
    <table class="table table-bordered" align="center">
        <tr style="width: 145px; height: 45px; font-size: 20px;" class="text text-primary">
            <td>My Employee ID</td>
            <td>Salary</td>
            <td>Work area</td>
            <td>Work Status</td>
        </tr>
        <tr style="width: 145px; height: 45px; font-size: 20px;" class="text text-success">
            <td>@Model.id</td>
            <td>@Model.salary</td>
            <td>@Model.work_area</td>
            <td>
                @Model.work_status
            </td>
        </tr>
    </table>
    <div align="center">
        <h4>change work status</h4>
        <select name="workStatus" style="width: 145px; height: 45px; font-size:20px; border-radius: 6px;">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </select>
        <input style="width: 120px; height: 45px; font-size:20px; border-radius: 6px;" type="submit" class="btn btn-success" value="Change">
    </div>
</form>