@model IEnumerable<dot_net_mid_project.Models.Order_Details>
@{
    ViewBag.Title = "WorkHistory";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<style>
    #frm {
        width: 1200px;
        margin: 20px 80px;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0px 0px 50px blue;
        background-color: transparent;
        color: #34495e;
    }
</style>

<h2 align="center" class="text text-ifno">employee's work history list </h2>

<table id="frm" class="table table-bordered">
    <tr style="width: 145px; height: 45px; font-size: 20px;" class="text text-primary">
        <td>Service id</td>
        <td>Service Details</td>
        <td>Service receiver's information</td>
        <td>Service charge(Per Unit)</td>
        <td>Uqantity</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="width: 145px; height: 45px; font-size: 20px;" class="text text-success">
            <td>@item.service_id</td>
            <td><a class="btn btn-info" href="/EmployeeHome/AssignService/@item.service_id">See Details</a></td>
            <td><a class="btn btn-info" href="/EmployeeHome/ServiceDetails/@item.order_id">See Details</a></td>
            <td>@item.unit_price</td>
            <td>@item.quantity</td>
        </tr>
    }
</table>
