@{
    ViewBag.Title = "Home Page";
}
<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>

<body>
    <div class="login-form">
        <form action="/Home/Login" method="post">
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input name="email" type="email" class="form-control me-2" placeholder="Email" required="required">
            </div>
            <br />
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Password" required="required">
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary btn-block">Log in</button>
            </div>

            <br />
            <div class="clearfix">

                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                <a href="#" class="pull-right">Forgot Password?</a>
                <span class="pull-right text-danger">@ViewData["messeage"]</span>
            </div>
          
        </form>
        <p class="text-center"><a href="/home/signup">Create an Account</a></p>
    </div>
</body>


